<!DOCTYPE html>
<html lang="en">
<head>
<script>
var dataLayer = {
    "pageName" : ""
}
    </script>
<script src="https://assets.adobedtm.com/43e08a8c9425/bcc5292ec271/launch-5f0200f4347a-development.min.js" async></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakerExchange</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{{body}}}
</body>
</html>
